<nav class="grey darken-3">
  <div class="container">
    <a href="#" class="brand-logo center">OnlineShop : Admin panel</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/admin/articles">Articles</a></li>
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/orders">Orders</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
