<h3><i class="fas fa-shopping-cart"></i>Muyke</h3>
<div class="section">
  <p class="lead">Sell or buy whatever you want!</p>
</div>
<div class="devider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Log in with Google
  </a>
</div>
